.ContactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContactListName {
  color: brown;
}
.ContactListItem {
  list-style: none;
  text-align: center;
  width: 400px;
  box-shadow: 0 1px 3px 0 black, 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 2px 1px -1px rgb(0 0 0 / 12%);
}
.ContactListItem:not(:last-child) {
  margin-bottom: 20px;
}
.ContactListBtn {
  color: #fff;
  background-color: #6874b6bd;
  border: 0;
  outline: 0;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  text-transform: uppercase;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
}
.ContactListBtn:hover {
  background-color: orange;
}
.ContactListName {
  display: block;
  margin-bottom: 5px;
}
